include README.md
include pyproject.toml
include LICENSE
include NOTICE
recursive-include src/keras_crf *.py
prune tests
prune keras_crf/tests
prune build
prune dist
global-exclude *.pyc __pycache__/*
recursive-include examples/data *.zip

